<div id="benefits">
  <div class="px-4 py-3 md:px-6 lg:px-8 overflow-hidden">
  </div>
  <div class="font-bold text-900 text-5xl mb-3 text-center">
    <div class="mb-6 font-bold text-3xl">
      <span class="text-900">Descrube los </span>
      <span class="text-primary">Beneficios</span>
    </div>
  </div>
  <div class="text-700 text-center mb-5 line-height-3">Nuestra aplicación ofrece soluciones personalizadas para
    simplificar la gestión de tu negocio con eficiencia y precisión.
  </div>

  <div class="flex lg:justify-content-center mb-5">
    <div class="fadein animation-duration-2000 animation-iteration-1 py-3 pr-8 pl-3 w-30rem hidden lg:block">
      <img src="https://i.postimg.cc/ZKn4yxv1/image.png" alt="Image" class="w-full mr-8">
    </div>
    <div class="flex flex-column align-items-center w-2rem">
      <span class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle"
            style="min-width:2.5rem; min-height: 2.5rem">1</span>
      <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem"></div>
    </div>
    <div class="fadeinright animation-duration-1000 animation-iteration-1 py-3 pl-5 lg:pl-8 pl-3 lg:w-30rem">
      <div class="text-900 text-xl mb-2 font-bold text-center">Gestión Simplificada de Cuentas</div>
      <span class="block text-700 line-height-3 mb-3 text-justify">Administra fácilmente las cuentas de crédito y sigue las transacciones de tus clientes, todo en un solo lugar.</span>
      <div class="pt-3 border-top-1 border-300">
        <div class="mb-2 line-height-3 text-justify"><span class="text-900 font-bold">Datos Centralizados:</span>
          Accede y
          actualiza la información de las cuentas de los clientes sin complicaciones.
        </div>
        <div class="line-height-3 text-justify"><span class="text-900 font-bold">Reportes Detallados:</span> Genera
          informes
          precisos sobre el estado de las cuentas y los pagos realizados.
        </div>
      </div>
      <img src="https://i.postimg.cc/ZKn4yxv1/image.png" alt="Imagen de Beneficio 1"
           class="w-full mt-3 block lg:hidden">
    </div>

  </div>

  <div class="flex justify-content-center mb-5">
    <div
      class="fadeinleft animation-duration-1000 animation-iteration-1 py-3 pl-5 pr-3 lg:pr-8 lg:pl-3 lg:w-30rem flex-order-1 lg:flex-order-0">
      <div class="text-900 text-xl mb-2 font-bold text-center">Acceso Rápido a Información</div>
      <span class="block text-700 line-height-3 mb-3">Encuentra rápidamente la información que necesitas con nuestra interfaz intuitiva y fácil de usar.</span>
      <div class="pt-3 border-top-1 border-300">
        <div class="mb-2 line-height-3 text-justify"><span class="text-900 font-bold">Búsqueda Eficiente:</span>
          Localiza cuentas
          y
          clientes en segundos gracias a nuestra función de búsqueda avanzada.
        </div>
        <div class="line-height-3 text-justify"><span class="text-900 font-bold">Interfaz Amigable:</span> Navega con
          facilidad a
          través de las diferentes secciones de la aplicación.
        </div>
      </div>
      <img src="https://i.postimg.cc/bvchWXVh/image.png" alt="Image" class="w-full mt-3 block lg:hidden">
    </div>
    <div class="flex flex-column align-items-center w-2rem flex-order-0 lg:flex-order-1">
      <span class="bg-yellow-500 text-0 flex align-items-center justify-content-center border-circle"
            style="min-width:2.5rem; min-height: 2.5rem">2</span>
      <div class="h-full bg-yellow-500" style="width: 2px; min-height: 4rem"></div>
    </div>
    <div
      class="fadein animation-duration-2000 animation-iteration-1 py-3 pl-8 pr-3 w-30rem hidden lg:block flex-order-2">
      <img src="https://i.postimg.cc/bvchWXVh/image.png" alt="Image" class="w-full mr-8">
    </div>
  </div>
  <!-- Tercer Beneficio -->
  <div class="flex justify-content-center">
    <div class="fadein animation-duration-2000 animation-iteration-1 py-3 pr-8 pl-3 w-30rem hidden lg:block">
      <img src="https://i.postimg.cc/gcSPdLt4/image.png" alt="Image" class="w-full mr-8">
    </div>
    <div class="flex flex-column align-items-center w-2rem">
      <span class="bg-cyan-500 text-0 flex align-items-center justify-content-center border-circle"
            style="min-width:2.5rem; min-height: 2.5rem">3</span>
      <div class="h-full bg-cyan-500" style="width: 2px; min-height: 4rem"></div>
    </div>
    <div class="fadeinright animation-duration-1000 animation-iteration-1 py-3 pl-5 lg:pl-8 pl-3 lg:w-30rem">
      <div class="text-900 text-xl mb-2 font-bold text-center">Soporte y Asistencia Continua</div>
      <span class="block text-700 line-height-3 mb-3 text-justify">Nuestro equipo está disponible para ayudarte en cada paso, asegurando que tu experiencia sea excepcional.</span>
      <div class="pt-3 border-top-1 border-300">
        <div class="mb-2 line-height-3 text-justify"><span class="text-900 font-bold">Atención Personalizada:</span>
          Recibe ayuda
          adaptada a tus necesidades específicas de negocio.
        </div>
        <div class="line-height-3 text-justify"><span class="text-900 font-bold">Recursos de Capacitación:</span> Accede
          a
          tutoriales y guías para maximizar el uso de la aplicación.
        </div>
      </div>
      <img src="https://i.postimg.cc/gcSPdLt4/image.png" alt="Imagen de Beneficio 3"
           class="w-full mt-3 block lg:hidden">
    </div>
  </div>
</div>
