<div class="px-4 py-4">
  <div class="border-top-1 border-300 pt-5 text-center">
    <img src="https://i.postimg.cc/K8VV7Yg0/logo-finapp.png" alt="Image" height="100" class="border-circle">
    <div class="flex align-items-center justify-content-center mb-5">
      <a
        class="cursor-pointer border-circle bg-primary text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5"
        style="width:2.5rem; height: 2.5rem">
        <i class="pi pi-twitter"></i>
      </a>
      <a
        class="cursor-pointer border-circle bg-primary text-bluegray-500 block inline-flex justify-content-center align-items-center mr-5"
        style="width:2.5rem; height: 2.5rem">
        <i class="pi pi-facebook"></i>
      </a>
      <a
        class="cursor-pointer border-circle bg-primary text-bluegray-500 block inline-flex justify-content-center align-items-center"
        style="width:2.5rem; height: 2.5rem">
        <i class="pi pi-github"></i>
      </a>
    </div>
    <div class="text-center">
      <a class="mr-5 text-sm text-600 cursor-pointer">Políticas de Privacidad</a>
      <a class="text-sm text-600 cursor-pointer">Términos y Condiciones</a>
    </div>
    <div class="py-4 text-center">
      <a class="text-sm text-600 cursor-pointer">Copyrigth © {{ year.getFullYear() }} DixTex Inc</a>
    </div>
  </div>
</div>
